USE [master]
GO
/****** Object:  Database [EmployeeDB]    Script Date: 07-Dec-21 14:56:50 ******/
CREATE DATABASE [EmployeeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeDB', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EmployeeDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeDB_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\EmployeeDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeDB]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 07-Dec-21 14:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[CarName] [varchar](156) NULL,
	[CarKM] [int] NOT NULL,
	[CarYear] [int] NOT NULL,
	[CarImage] [varchar](255) NOT NULL,
	[CarRented] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owner]    Script Date: 07-Dec-21 14:56:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owner](
	[OwnerID] [int] IDENTITY(1,1) NOT NULL,
	[OwnerName] [varchar](156) NULL,
	[OwnerPhotoName] [varchar](156) NULL,
	[Car] [varchar](156) NULL,
	[DateJoined] [date] NULL,
	[OwnerPhoneNumber] [varchar](50) NULL,
	[CarOwnedID] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Car] ADD  DEFAULT ((0)) FOR [CarKM]
GO
ALTER TABLE [dbo].[Car] ADD  DEFAULT ((0)) FOR [CarYear]
GO
ALTER TABLE [dbo].[Car] ADD  DEFAULT ((0)) FOR [CarImage]
GO
ALTER TABLE [dbo].[Car] ADD  CONSTRAINT [DF_Car_CarRented]  DEFAULT ((0)) FOR [CarRented]
GO
ALTER TABLE [dbo].[Owner] ADD  DEFAULT ((-1)) FOR [CarOwnedID]
GO
USE [master]
GO
