<div class="form-fgroup row">
    <label class="col-6 col-sm-3">Car ID</label>
    <div class="col-6 col-sm-3"> {{newCar.CarID}} </div>

    <div class="w-100"></div>

    <label class="col-6 col-sm-3">Car Name</label>
    <div class="col-6 col-sm-3"> {{newCar.CarName}} </div>
    
    <div class="w-100"></div>

    <label class="col-6 col-sm-3">Car Year</label>
    <div class="col-6 col-sm-3"> {{newCar.CarYear}} </div>
    
    <div class="w-100"></div>

    <label class="col-6 col-sm-3">Car KM</label>
    <div class="col-6 col-sm-3"> {{newCar.CarKM}} </div>

    <div class = "ml-3 bd-highlight" style = "width: 40%;">
        <img [src] = CarPhotoPath height = "250px;" width = "200px;"/>
    </div>
</div>